# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.db
# Miscellaneous
.DS_Store
.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
