body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("mc_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    background-color: #005580;
    overflow: hidden;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
    margin-top: 50px;
}

.send-button {
    position: fixed;
    bottom: 180px;
    right: 900px;
}

#serversForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.server-image {
    width: 200px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

#tier {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
}

#hidden_text {
    display: hidden;
}

.active{
    border: 5px solid #005580;
}

.server-image:hover {
    transform: translateX(-1rem) translateY(-1rem);
}

.server-image:checked {
    filter: brightness(0.8);
    transform: scale(0.9);
}

.server-image:active {
    transform: scale(0.9);
}

.server-button {
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.server-button.grayed-out {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #004466;
}

h1 {
    color: #005580;
}

button {
    background-color: #005580;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #004466;
}

.description {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
}

.create-machine-button {
    background-color: #005580;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.create-machine-button:hover {
    background-color: #004466;
}

.machines-list {
    list-style-type: none;
    padding: 0;
}

.machines-list li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

button.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #c82333;
}