body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0; /* Remove default margin */
    background-image: url("mc_background.png"); 
    background-size: cover; /* Scale the image to cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
      
}

.menu {
    background-color: #005580;
    overflow: hidden;
}

.send-button {
    position: fixed;
    bottom: 180px; /* Adjust as needed */
    right: 900px;
}

#serversForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.server-image {
    width: 200px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

/* .tier {
    width: 200px;
    height:200px;
}
.tier:hover {
    border-style: solid;
    border-color:#004466;
}  */

#tier {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
}


#hidden_text {
    display: hidden;
}
/* #hidden_text:hover {

} */


.active{
    border: 5px solid #005580;
}
  


.server-image:hover {
    transform: translateX(-1rem);
    transform: translateY(-1rem);

     /* Make the image slightly smaller on hover */
}

.server-image:checked {
    filter: brightness(0.8); /* Make the image slightly darker when selected */
    transform: scale(0.9); /* Keep the image slightly smaller when selected */
}

.server-image:active {
    transform: scale(0.9); /* Apply a slight scale-down effect when clicked */
}

.server-button {
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.server-button.grayed-out {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}


.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #004466;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #005580;
}

button {
    background-color: #005580;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #004466;
}

.description {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
}
