body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.menu {
    background-color: #005580;
    overflow: hidden;
}

.tier {
    display: inline-block;
    position: relative;
}

.server-image {
    width: 200px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.server-image:hover {
    transform: scale(0.9); /* Make the image slightly smaller on hover */
}

.server-image:checked {
    filter: brightness(0.8); /* Make the image slightly darker when selected */
    transform: scale(0.9); /* Keep the image slightly smaller when selected */
}

.server-image:active {
    transform: scale(0.9); /* Apply a slight scale-down effect when clicked */
}

.server-button {
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.server-button.grayed-out {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}


.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #004466;
}

.content {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #005580;
}

button {
    background-color: #005580;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #004466;
}

.description {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
}
